mkdir -p ~/ros2_ws/src/.github/workflows
cat << 'EOF' > ~/ros2_ws/src/.github/workflows/main.yml
name: build_and_test
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build_and_test:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v3
    - uses: ros-tooling/setup-ros@v0.7
      with:
        required-ros-distributions: humble
    - uses: ros-tooling/action-ros-ci@v0.3
      with:
        package-name: mypkg
        target-ros2-distro: humble
EOF
